@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">To do list</h1>
    <p>A simple to do list app. Make a task and a description over on the task tab.</a>.</p>
</div>
